.parent {
    -fx-background-color: TRANSPARENT;
}

.dark-panel {
    -fx-background-color: #4A86E8;
    -fx-background-radius: 0.5cm;

}

.main-buttons {
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 0px;
    -fx-text-fill: TRANSPARENT;
}
.orders-buttons {
    -fx-background-color: TRANSPARENT;
    -fx-text-fill: WHITE;

}
.orders-buttons:hover {
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 0px;
    -fx-border-color: BLACK;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-radius: 0px;
    -fx-text-fill: BLACK;
}

.main-buttons:hover {
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 0px;
    -fx-border-color: #F3A978;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-radius: 0px;
    -fx-text-fill: TRANSPARENT;
}

.main-buttons:hover.icons {
    -fx-fill: WHITE;
}

.buttons {
    -fx-background-color: #FFB6C1;
    -fx-background-radius: 0.25cm;
    -fx-text-fill: WHITE;
}
.buttons:hover{
    -fx-background-color: #F3A978;
    -fx-background-radius: 0px;
    -fx-text-fill: WHITE;
}
.icons {
    -fx-fill: #124477;
}

.label {
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 0px;
    -fx-text-fill: WHITE;
}
.text {
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 0px;
    -fx-text-fill: BLACK;
}
.text:hover{
    -fx-border-color: WHITE;
    -fx-background-radius: 0px;
    -fx-text-fill: BLACK;
}
.loggedIn{
    -fx-background-color: #00cc33;
    -fx-background-radius: 100%;
}
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #FFB6C1;
    //-fx-border-color: White;

}

.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
   // -fx-border-color:WHITE;

    -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
    -fx-cell-size: 35;
   // -fx-alignment: center-left;
    -fx-background-color: #4A86E8;
    -fx-border-radius: 0.5cm;
    -fx-border-color:#4A86E8;
    -fx-text-fill: lightgray;
    -fx-alignment: CENTER_LEFT;

}



/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive( #596575,80%);

    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #596575,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}